@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --midnight: #212a31;
  --steel: #2e3944;
  --marine: #124e66;
  --ash: #748d92;
  --silver: #f2f1e4;
  --oranje: #ffaf1c;
}

html {
  font-family: "Saira", sans-serif;
  background-color: var(--silver);
}

/* Removing the arrows from number inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer base {
  h1 {
    @apply text-xl text-silver font-semibold;
  }
  h2 {
    @apply text-lg text-silver font-semibold;
  }
  h3 {
    @apply text-silver;
  }
  a {
    @apply text-steel font-medium hover:underline;
  }
}

@layer components {
  .aside {
    @apply fixed flex flex-col justify-between font-semibold h-[calc(100%-2rem)] top-0 left-0 z-40 w-56 pt-8 rounded m-4 transition-transform shadow shadow-midnight bg-midnight;
  }
  .grid-box-text {
    @apply grid px-6 pt-8 pb-4 mt-10 border rounded md:grid-cols-3 md:gap-x-12 md:gap-y-4 lg:grid-cols-4 xl:grid-cols-5 border-steel bg-white;
  }
  .grid-box {
    @apply grid p-6 mt-10 border rounded md:grid-cols-2 md:gap-x-12 md:gap-y-4 lg:grid-cols-3 xl:grid-cols-4 border-steel bg-white;
  }
}

input::placeholder {
  color: var(--silver);
}

.react-datepicker-wrapper {
  width: 70%;
}

.react-datepicker__input-container input:focus {
  outline: none;
  border: 2px solid var(--steel);
}

.react-datepicker__input-container input:hover {
  cursor: pointer;
}

.react-datepicker__input-container input {
  padding-left: 30px !important;
  height: 34px;
  background-color: var(--marine);
}

.react-datepicker__input-container input::placeholder {
  color: var(--silver);
  font-size: 12px;
  font-weight: 400;
  /* letter-spacing: 1px; */
}

.react-datepicker__view-calendar-icon input {
  padding: 5px 10px 7px 30px !important;
}
